@{
    ViewBag.Title = "EmailError";
    Layout = "~/Views/Shared/_Theme2Layout.cshtml";
}
<section id="content">
    <div class="content-wrap">
        <div class="container center clearfix">
            <div class="heading-block center">
                <h1>Sorry! <br />Unable to send email, Please enter valid email address</h1>
                <span>
                    But your request for demo has been submitted  successfully.
                </span>
            </div>
            <p>
                Have a great day!
            </p>
            <a href="/" class="btn btn-secondary topmargin-sm">&lArr; Back to the Demo</a>

        </div>
    </div>
</section>

