@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_StaticPagesLayout.cshtml";
}

<head>
    <title>Remote Patient Monitoring Company details</title>
    <meta name="description" content="Remote Patient Monitoring Company, Software, HIPAA, Healthcare">

</head>

<style>
    .btnoppoosit {
        color: #1abc9c !important;
        border: 2px solid #1abc9c !important;
    }
    .btnoppoosit:hover {
        background-color: #1abc9c !important;
        color: white !important;
    }
</style>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="heading-block">
                        <h1>About Us</h1>
                    </div>
                    <p class="lead" style="text-align:justify !important">
                        StreamVitals is a remote patient monitoring platform that provides a seamless way for practices to get reimbursed automatically by medicare while providing patients with access to a digital platform for continual health improvement.
                    </p>
                    <p class="lead" style="text-align:justify !important">
                        The already rapid march to connected care is accelerating. Every day, new technology (wearables), medical devices (continuous monitoring), & analytics (predictive & prescriptive healthcare) are being introduced to reduce the operational burden of in-office visits to physicians, while driving better outcomes for their patients & improving their quality of life.
                    </p>

                    <a href="/RequestDemo/Schedule" class="button btnoppoosit btnoppoosit1 button-border button-white button-light button-large button-rounded text-right m-0"
                       style="">
                        <span>Request Demo</span>
                        <i class="icon-angle-right"></i>
                    </a>

                </div>

                <div class="col-lg-6 align-self-end">

                    <div class="position-relative overflow-hidden">
                        <img src="~/Content/canvas/WebSite Images/aboutus_1000.jpg" class="subimagesheight" data-animate="fadeInUp" data-delay="100" alt="Remote Patient Monitoring Software" style="height:560px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">

                    <p style="text-align:justify !important">
                        <i class="icon-ok"></i>
                        StreamVitals, leveraging a unique platform that anticipates these future changes, has delivered one of the very few, completely integrated Remote Patient Monitoring environments, used by thousands of patients today. Our focus is to deliver unmatched usability for both the patient as well as the medical practice.
                    </p>

                </div>
                <div class="col-lg-4" style="margin-top: -27px !important;">

                    <p style="text-align:justify !important">
                        <i class="icon-ok"></i>
                        With the aim to ensure that patients do not have to worry about setting up their device, guaranteeing that the device will work as well as staying connected, StreamVitals has addressed the number 1 reason that patients do not stay engaged in their ongoing treatment(s).
                    </p>

                </div>
                <div class="col-lg-4">

                    <p style="text-align:justify !important">
                        <i class="icon-ok"></i>
                        For the practice, the StreamVitals platform delivers a “no touch” approach to patient onboarding and medicare reimbursement while providing a robust monitoring and reporting/predictive analytics technology therefore delivering a simple way for practices to generate revenue without lifiting a finger.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

