@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_StaticPagesLayout.cshtml";
}

<head>
    <title>Frequently asked questions about remote patient monitoring</title>
    <meta name="description" content="FAQ about Remote patient montoring, CPT codes, reimbusements, Medicare billing, RPM">

</head>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-block">
                        <h1>FAQs</h1>
                    </div>
                </div>
            </div>
            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                ============================================= -->
                <div class="postcontent col-lg-6">

                    <div class="clear"></div>

                    <div id="faqs" class="faqs">

                        <div class="toggle faq faq-marketplace faq-authors">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-question-sign"></i>
                                    <i class="toggle-open icon-question-sign"></i>
                                </div>
                                <div class="toggle-title">
                                    What is Remote Patient Monitoring (RPM)?
                                </div>
                            </div>
                            <div class="toggle-content">
                                <p style="text-align:justify;">
                                    Remote patient monitoring is a method of managing acute or chronic conditions via digital technology, securely collecting and sending data from patient to provider.
                                </p>
                                <p style="text-align:justify;">
                                    RPM enables you to monitor patients while they’re at home, at work, in transit, or even on vacation, using connected health devices like:

                                </p>
                                <i class="icon-ok"></i>
                                Glucose meters for diabetes management<br />
                                <i class="icon-ok"></i>
                                Heart rate monitors<br />
                                <i class="icon-ok"></i>
                                Blood pressure monitors<br />
                                <i class="icon-ok"></i>
                                Continuous dementia surveillance monitors<br />
                                <i class="icon-ok"></i>
                                Calorie logging programs<br />
                                <i class="icon-ok"></i>
                                Exercise logging programs<br />
                                <i class="icon-ok"></i>
                                Musculoskeletal risk stratification software<br /><br />

                                <p style="text-align:justify;">
                                    This easy-to-use technology allows you to analyze your patients’ physiological parameters and trends to determine whether their condition is stabilized, deteriorating, or improving.
                                </p>

                            </div>
                        </div>

                        <div class="toggle faq faq-authors faq-miscellaneous">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-comments-alt"></i>
                                    <i class="toggle-open icon-comments-alt"></i>
                                </div>
                                <div class="toggle-title">
                                    How does billing and reimbursements work?
                                </div>
                            </div>
                            <div class="toggle-content">
                                <p style="text-align:justify;">
                                    Intelligent Billing and Coding System: StreamVitals uses the latest billing guidelines and payment reconcilliation to create a recommended bill for each visit and chronic care period. The codes we use are:
                                </p>
                                CPT Code 99453<br />
                                (Setup)<br />
                                Remote monitoring of physiologic parameter(s) (eg, weight, blood pressure, pulse oximetry, respiratory flow rate), initial; set-up and patient education on use of equipment.<br />
                                <b>One time setup/education of $21</b><br /><br />

                                CPT Code 99454<br />
                                (Equipment & Monitoring)<br />
                                Remote monitoring of physiologic parameter(s) (eg, weight, blood pressure, pulse oximetry, respiratory flow rate), initial; device(s) supply with daily recording(s) or programmed alert(s) transmission, each 30 days<br />
                                <b>$69.00 per patient/month</b><br /><br />

                                CPT Code 99457<br />
                                (Interventions)<br />
                                Remote physiologic monitoring treatment management services, 20 minutes or more of clinical staff/physician/other qualified healthcare professional time in a calendar month requiring interactive communication with the patient/ caregiver during the month<br />
                                <b> $54.00 per patient/month</b><br /><br />


                                CPT Code 99458 <br />
                                Remote physiologic monitoring treatment management services, clinical staff/physician/other qualified health care professional time in a calendar month requiring interactive communication with the patient/caregiver during the month; additional 20 minutes<br />
                                <b> $46.00 per patient/month</b><br /><br />
                            </div>
                        </div>

                        <div class="toggle faq faq-miscellaneous">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-lock3"></i>
                                    <i class="toggle-open icon-lock3"></i>
                                </div>
                                <div class="toggle-title">
                                    How are patients onboarded into the RPM Program?
                                </div>
                            </div>
                            <div class="toggle-content">
                                <p style="text-align:justify;">
                                    Once agreed the list of patients to be onboarded we'll handle the rest. That means no addtional impact on you or your team to get your patients on the StreamVitals program.
                                </p>
                            </div>
                        </div>

                        <div class="toggle faq faq-authors faq-legal faq-itemdiscussion">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-question-sign"></i>
                                    <i class="toggle-open icon-question-sign"></i>
                                </div>
                                <div class="toggle-title">
                                    What is the cost of Stream Vitals?
                                </div>
                            </div>
                            <div class="toggle-content">
                                Zero addtional cost to the practice, we manage the process from patient onboarding to billing.
                            </div>
                        </div>

                        <div class="toggle faq faq-marketplace faq-authors">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-question-sign"></i>
                                    <i class="toggle-open icon-question-sign"></i>
                                </div>
                                <div class="toggle-title">
                                    What are the benefits of Remote Patient monitoring?
                                </div>
                            </div>
                            <div class="toggle-content">
                                <p style="text-align:justify;">
                                    The numbers associated with the use of RPM tools is startling:

                                </p>

                                <p style="text-align:justify;">
                                    <i class="icon-ok"></i>
                                    The Veteran’s Administration (VA) reported a 25% reduction in bed days of care; a 19% reduction in hospital admissions; and 86% patient satisfaction scores when using RPM.
                                    Another study showed reduced mortality in chronic heart failure patients by using remote patient monitoring.<br /><br />
                                </p>
                                <p style="text-align:justify;">
                                    <i class="icon-ok"></i>
                                    MHealth Intelligence says remote patient monitoring will increase in the future primarily because it reduces costs, improves access, and increases positive health outcomes, particularly in chronically ill patients. The American Society for Quality (ASQ) reports that remote patient monitoring has an overall positive impact on reducing organizational costs and providing healthcare providers with ROI.
                                </p>
                                <p style="text-align:justify;">
                                    <i class="icon-ok"></i>
                                    Important to note; for each patient onboarded to the StreamVitals RPM program a practice can make up to <b>$166 plus one time payment of $21 additonal revenue</b>, per patient per month.
                                </p>
                            </div>
                        </div>

                        <div class="toggle faq faq-affiliates faq-miscellaneous">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-question-sign"></i>
                                    <i class="toggle-open icon-question-sign"></i>
                                </div>
                                <div class="toggle-title">
                                    What do I need to get started with Remote Patient monitoring?
                                </div>
                            </div>
                            <div class="toggle-content">
                                Give us a call or schedule a brief consult <a href="ContactUs"><b>here</b></a> with a member of our Care team.
                            </div>
                        </div>

                        <div class="toggle faq faq-legal faq-itemdiscussion">
                            <div class="toggle-header">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-picture"></i>
                                    <i class="toggle-open icon-picture"></i>
                                </div>
                                <div class="toggle-title">
                                    Who can start using Remote Patient Monitoring (RPM)?
                                </div>
                            </div>
                            <div class="toggle-content">
                                <p style="text-align:justify;">
                                    Any Qualified Healthcare provider who has a valid NPI (National Provider Identifier) and currently bills Medicare may start using Remote Patient monitoring.
                                </p>
                                <p style="text-align:justify;">
                                    For Patients, if they are on a Medicare plan or similar and have one or more chronic condition they can enrolled for remote patient monitoring.
                                </p>
                            </div>
                        </div>


                    </div>


                </div>

                <div class="col-lg-6">
                    <img src="~/Content/canvas/WebSite Images/FAQ/FAQ_1000.jpg" alt="FAQ's about remote patient monitoring"/>
                </div>
                <!-- .postcontent end -->

            </div>

        </div>
    </div>
</section>
