@{
    ViewBag.Title = "Howworks";
    Layout = "~/Views/Shared/_StaticPagesLayout.cshtml";
}

<head>
    <title>How does remote patient monitoring work</title>
    <meta name="description" content="How does remote patient monitoring work, easy RPM">

</head>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="heading-block">
                <h1>How does Remote Patient Monitoring work?</h1>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p class="lead" style="text-align:justify !important;">
                        <b>Step 1</b>- Setup a care management plan for your patients through the StreamVitals HIPAA secure portal.

                    </p>
                    <p class="lead" style="text-align:justify !important;">
                        <b>Step 2</b>- We will send your patients their devices directly to their door with all instructions to get started.

                    </p>
                    <p class="lead" style="text-align:justify !important;">
                        <b>Step 3</b>- Our Care coordinators will contact your patient to help them take their first reading and make sure their device is communicating with our platform.

                    </p>
                    <p class="lead" style="text-align:justify !important;">
                        <b> Step 4</b>- Our Care coordinators will ensure patients are taking regular readings as well as monitor and contact patients in real-time who have readings that fall outside of the ranges you have specified by patient.

                    </p>
                    <p class="lead" style="text-align:justify !important;">
                        <b>Step 5</b>- We take care of Medicare billing through our totally transparent automated billing engine.

                    </p>
                </div>

                <div class="col-lg-6 align-self-end">

                    <video controls="controls" loop="loop" style="width:100%; height:582px;">
                        <source src="~/Content/canvas/WebSite%20Images/How_does_Remote_Patient_Monitoring_work%20(1).mp4" type="video/mp4" />
                    </video>

                </div>

            </div>

            

        </div>
    </div>
</section>

