@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_StaticPagesLayout.cshtml";
}

<head>
    <title>Remote Patient Monitoring for Partners, for free, white label, fast</title>
    <meta name="description" content="Stream Vitals offers flexible remote patent monitoring for partners, with whitelable platform and high partner comissions">

</head>

<style>
    .btnoppoosit {
        color: #1abc9c !important;
        border: 2px solid #1abc9c !important;
    }
    .btnoppoosit:hover {
        background-color: #1abc9c !important;
        color: white !important;
    }
</style>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="heading-block">
                        <h1>Partners</h1>
                    </div>
                    <p class="lead" style="text-align:justify !important">
                        Streamvitals solution has been conceived and developed as an enterprise level solution ideally suited to meet the demands of large ACOs, MCOs, CCM/Billing Companies and EHR system providers serving multiple practices and Doctors.
                    </p>


                    <a href="/RequestDemo/Schedule" class="button btnoppoosit btnoppoosit1 button-border button-white button-light button-large button-rounded text-right m-0"
                       style="">
                        <span>Request Demo</span>
                        <i class="icon-angle-right"></i>
                    </a>

                    <p class="lead displaynone" style="text-align:justify !important; color:white;">
                        Streamvitals solution has been conceived and developed as an enterprise level solution ideally suited to meet the demands of large ACOs, MCOs, CCM/Billing Companies and EHR system providers serving multiple practices and Doctors.
                    </p>

                </div>
                <div class="col-lg-6 align-self-end">
                    <div class="position-relative overflow-hidden">
                        <img src="~/Content/canvas/WebSite Images/PartnersWorking3_1000.jpg" class="subimagesheight" data-animate="fadeInUp" data-delay="100" alt="Remote Patient Monitoring for Partners" style="width:100%;height:500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="heading-block">
                        <h1>Some of the Key benefits include:</h1>
                    </div>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Ability to white label complete end to end or any parts of the solution
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Ability to easily integrate with existing systems (EHR/EMR and Billing systems etc.) for seamless operation
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Enterprise Level Security based on 256bit encryption of in-flight and Stored data
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Highly scalable system with ability to monitor and manage very large patient pools
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Enterprise level reliability with multiple backups and no single point of failure. Highly reliable connectivity options
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Ability to manage multiple conditions for every patient including management of multiple devices for every patient
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Ability to integrate and manage third party devices
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Integrated Communication including messaging, voice and video calls
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        AI/ML based analytics and diagnostic assistance for doctors
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Detailed Administrative reporting
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Customizable workflow
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
