@{
    ViewBag.Title = "Patients";
    Layout = "~/Views/Shared/_StaticPagesLayout.cshtml";
}

<head>
    <title>Remote Patient Monitiring for patients for free, no cost, easy setup</title>
    <meta name="description" content="StreamVitals offers easy onboarding and remote patient monitoring with improved patent health and increased practice revenue.">

</head>

<style>
    .btnoppoosit {
        color: #1abc9c !important;
        border: 2px solid #1abc9c !important;
    }
    .btnoppoosit:hover {
        background-color: #1abc9c !important;
        color: white !important;
    }
</style>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="heading-block">
                        <h1>PATIENTS</h1>
                    </div>
                    <p class="lead" style="text-align:justify !important">
                        StreamVitals aims to ensure that the patient onboarding process is seamless regarding device set up, guaranteeing that the device works as well as staying connected. Our goal is to maintain your engagement and as a result will keep you healthy.<span style="color:white;">and and ans</span>
                    </p>
                    <p class="lead" style="text-align:justify !important">
                        StreamVitals has developed our unique Remote Patient Monitoring system to remove the burdens of maintaining your prescribed care program and it is free for you!<span style="color:white;">and and ans</span>
                    </p>

                    <a href="/RequestDemo/Schedule" class="button btnoppoosit btnoppoosit1 button-border button-white button-light button-large button-rounded text-right m-0"
                       style="">
                        <span>Request Demo</span>
                        <i class="icon-angle-right"></i>
                    </a>

                </div>

                <div class="col-lg-6 align-self-end">

                    <div class="position-relative overflow-hidden">
                        <img src="~/Content/canvas/WebSite Images/Patients_1000.jpg" class="subimagesheight" data-animate="fadeInUp" data-delay="100" alt="Remote Patient Monitoring for Patients" style="width:100%;height:500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Provide the highest quality devices to monitor your care – for both intermittent & continuous readings. If for any reasons, there is a problem with your device, we’ll immediately replace it so that you don’t lose the opportunity to take key readings.
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Whether you are a technology expert or technology “challenged”, our system guarantees continuous connection to read & relay the information to your care team. You don’t have to worry about “reconnecting”
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Our care coordinators will contact you every month to review your readings & check on your progress.
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Finally & most importantly, if your readings indicate a problem, StreamVitals will immediately alert your care team & convey your condition for their proper attention.<br />
                        <b class="lead" style="font-size: 24px !important;font-weight: 400;">
                         If your doctor hasn’t already discussed this treatment option, let them know that you’d like for them to contact <span>StreamVitals to get you enrolled</span>
                        </b>
                    </p>
                  
                </div>
            </div>
        </div>
    </div>
</section>

