@{
    ViewBag.Title = "Practices";
    Layout = "~/Views/Shared/_StaticPagesLayout.cshtml";
}

<head>
    <title>Remote Patient Monitoring for practices for free, no cost onboarding</title>
    <meta name="description" content="StreamVitals offers full service remote patient monitoring with easy patient onboarding and automated billing">

</head>

<style>
    .btnoppoosit {
        color: #1abc9c !important;
        border: 2px solid #1abc9c !important;
    }
    .btnoppoosit:hover {
        background-color: #1abc9c !important;
        color: white !important;
    }
</style>

<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="heading-block">
                        <h1>Practices</h1>
                    </div>
                    <p class="lead" style="text-align:justify !important">
                        Although the phrase remote patient monitoring has been around for years, StreamVitals has developed & is delivering to thousands of patients advanced technologies & capabilities that further support your efforts to provide the best care & outcomes to your patients.
                    </p>
                    <p class="lead" style="text-align:justify !important">
                        With available Medicare reimbursements, your practice will substantially grow your profits while reducing the burden of in office visits, and best of all, StreamVitals does it all on your behalf.
                    </p>

                    <a href="/RequestDemo/Schedule" class="button btnoppoosit btnoppoosit1 button-border button-white button-light button-large button-rounded text-right m-0"
                       style="">
                        <span>Request Demo</span>
                        <i class="icon-angle-right"></i>
                    </a>

                </div>

                <div class="col-lg-6 align-self-end">

                    <div class="position-relative overflow-hidden">
                        <img src="~/Content/canvas/WebSite Images/Practice2_1000.jpg" class="subimagesheight" data-animate="fadeInUp" data-delay="100" alt="Remote Patient Monitoring for Doctors" style="width:100%;height:500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="heading-block">
                        <h1>StreamVitals delivers to you</h1>
                    </div>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        A fully integrated platform & services that allows your team to focus daily on your patients. Once your practice is onboarded, the ongoing operation is “no touch” to you & your team
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        If applicable, it can be fully integrated to your EMR/HER systems
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Automated billing to Medicare
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Institutional Health Systems – grade analytics – predictive & prescriptive
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Care coordinators follow up with your patients.
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Immediate alerts on patient conditions that fall out of ranges that you define
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        If you treat patients with multiple chronic or acute conditions, StreamVitals has developed unique technology to read from the multiple, prescribed devices & convey that information back to you.<br />
                        <b>NOTE</b>: In 2021, Medicare is increasing their reimbursement for monitoring of multiple chronic conditions?
                    </p>
                    <p class="lead">
                        <i class="icon-ok"></i>
                        Future proofed platform with advanced security & communications that works for both intermittent & continuous monitoring
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

