@model IEnumerable<Vu360Sol.ViewModel.Doctors.DoctorViewModel>

@{
    ViewBag.Title = "ContactedDoctors";
    Layout = "~/Views/Shared/_Theme2Layout.cshtml";
}

@*<script src="~/Content/canvas/js/jquery.js"></script>
    <link href="~/Content/Pagination/simplePagination.css" rel="stylesheet" />
    <script src="~/Content/Pagination/jquery.simplePagination.js"></script>*@

<style>
    .popover.clockpicker-popover {
        z-index: 1050;
    }

    .fc-toolbar h2 {
        color: #1c79bd;
    }
</style>
<style>
    .test:after {
        content: '\2807';
        font-size: 30px;
    }
</style>



<section id="content">
    <input type="hidden" id="hfUserId" value="@ViewBag.UserId" />
    <div class="content-wrap">
        <div class="container clearfix" style="max-width: 1450px !important">
            <div class="">
                <h1 class="text-center">Contacted Doctors</h1>
            </div>
            <div class="row gutter-40 col-mb-80">
                <div class="postcontent col-lg-12 ">

                    <div id="partial" style="max-width:100% !important"></div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</section>


@Html.Partial("_DoctorsContactedModel")

@section scripts{
    <script src="~/Scripts/doctorscontacted.js"></script>
    <script>

    $(document).ready(function(){

        $.ajax({
            url: '@Url.Action("ContactedDoctorsPage", "DoctorAssign")',
            data:{
                UserId: $("#hfUserId").val()
        }
		})
            .done(function (response) {
                //debugger;
            $("#partial").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	//alert("FAIL");
        });
    });

    </script>

}


