<div id="DrAssignDetailModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#2f6295 !important">
                    <h4 class="modal-title" id="myModalLabel" style="color: white !important;">Doctor Assign Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="formnote">
                        <input name="ReferenceId" id="ReferenceId" value="" hidden />
                        @*<div class="row">
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">FirstName:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="fname"></label>
                            </div>
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">LastName:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="lname"></label>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">FullName:</label>
                        </div>
                        <div class="col-9 form-group">
                            <badge style=" background-color: #1abc9c; padding: 8px; border-radius: 6px;">
                                <label id="fullname" style="color:white !important"> </label>
                            </badge>

                        </div>
                    </div>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Email:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="email"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Phone:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="phone"></label>
                            </div>
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">NPI:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="npi"></label>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Provider Type:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="providerType"></label>
                            </div>
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Practice Name:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="practiceName"></label>
                            </div>
                        </div>
                        
                        <div class="row" >
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Location Name:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="locationName"></label>
                            </div>
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Location State:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="locationState"></label>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Location Address:</label>
                            </div>
                            <div class="col-9 form-group">
                                <label id="locationAddress"></label>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-3 form-group">
                                <label style="color:#2f6295 !important">Status:</label>
                            </div>
                            <div class="col-3 form-group">
                                <label id="status"></label>
                            </div>
                        </div>


                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

