


<div class="modal fade bs-example-modal-lg" id="assignModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header" style="display:initial !important; background-color:#2f6295 !important">
                    <h4 class="modal-title text-center" id="myModalLabel" style="font-size: 30px;color: white !important;">
                        Notes Details
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                    
                </div>
                <div class="modal-body">
                   <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
                       <div class="col-lg-12">
                           <label style="font-size: 20px;">Doctor Name: 
                               <badge id="ContactDR" style="font-size: 20px;text-transform: uppercase;padding-left: 10px;background-color:#1abc9c;color:white;border-radius:5px;padding:5px;"></badge>
                           </label>
                       </div>
                   </div>

                    <table class="table">
                        <thead style="background-color:#1abc9c !important; color:white !important;">
                            <tr>
                                <th>Notes</th>
                                <th>Date</th>
                                <th>Time</th>
                                @*<th>Doctor</th>*@
                                @*<th>SalePerson</th>*@
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                        <tbody id="AssignNotesTable">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>
