@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Theme2Layout.cshtml";
}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="tabs mx-auto mb-0 clearfix" id="tab-login-register" style="max-width: 500px;">

                <ul class="tab-nav tab-nav2 center clearfix">
                    <li class="inline-block"><a href="#tab-login">Change Password</a></li>
                </ul>

                <div class="tab-container">

                    <div class="tab-content" id="tab-login">
                        <div class="card mb-0">
                            <div class="card-body" style="padding: 40px;">
                                <form id="login-form" name="login-form" class="mb-0" action="#" method="post" autocomplete="off">

                                    <h3>Change Password</h3>

                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="Password" id="lblPassword">Current Password</label>
                                            <input type="password" id="Password" name="Password" value="" class="form-control" onblur="return chkblnk('Password','errorPassword','lblPassword')" />
                                            <span id="errorPassword" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="NewPassword" id="lblNewPassword">New Password</label>
                                            <input type="password" id="NewPassword" name="NewPassword" value="" class="form-control" onblur="return chkblnk('NewPassword','errorNewPassword','lblNewPassword')" />
                                            <span id="errorNewPassword" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 form-group">
                                            <button id="btnLoginSubmit" type="button" class="button button-border button-white button-light button-large button-rounded text-right m-0" onclick="changePassword()"><span>Change Password</span> <i class="icon-angle-right"></i></button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>
<script>
    var changePassword = function () {
        debugger
        $.ajax({
            type: "GET",
            url: "/Registration/ChangePasswordPost",
            data: $("#login-form").serialize(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger
                if (response.success) {
                    //debugger;
                    swal({
                        title: "Success!",
                        text: "Password Changed Successfully",
                        type: "success"
                    }).then(
                        function (okay) {
                            if (okay) {
                                window.location.href = "/Registration/Logout";
                            }
                        }
                    );

                } else {
                    //debugger;
                    swal("Error", response.responseText, "error");



                }
            },
            error: function (response) {

            }
        });

    }


    function fieldRequire() {
        // //debugger;

        if ($("#Password").val().length != 0 && $("#NewPassword").val().length != 0 && $("#Password").val() != $("#NewPassword").val() && $("#NewPassword").val().length > 5) {
            $("#errorSummery").text("");
            return true;
        }
        else if ($("#Password").val().length != 0 && $("#NewPassword").val().length != 0 && $("#Password").val() == $("#NewPassword").val()) {
            $("#errorSummery").text("Current Password and New Password should not be same").show().fadeOut(4000);
            return false;
        }
        else if ($("#Password").val().length != 0 && $("#NewPassword").val().length != 0 && $("#NewPassword").val().length < 5) {
            $("#errorNewPassword").text("New Password should be greater then 5");
        }
        else {
            if ($("#Password").val().length == 0) {
                $("#errorPassword").text("Current Password required");
            }
            if ($("#NewPassword").val().length == 0) {
                $("#errorNewPassword").text("New Password required");

            }
            return false;
        }
    }

    function chkblnk(eid, errid, label) {
        var errorSummery = $("#errorSummery");
        errorSummery.hide();
        var x = document.getElementById(eid).value;

        var lbl = document.getElementById(label).innerText;
        if (x == "") {
            document.getElementById(errid).innerHTML = lbl + " required";
        }
        // else if (eid == "Password" && x.length < 6) {
        //     document.getElementById(errid).innerHTML = lbl + " must be greater then 5";
        //}
        else {
            document.getElementById(errid).innerHTML = "";
        }
    }

</script>
